
html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
    /* border-style: none; */
}

button {
    cursor: pointer;
    padding: 12px;
    background:#242582;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
    border-radius: 100%;
    align-items: center;
    background:url("../assets/btn.jpeg") ;
}

button:hover {
    background: #2022bd;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page css => */
/* ---------------------------------------------------------------------- */
.main-chat-body {
    display: flex;
    
}

.sidebar {
    height: 100vh;
    color: white;
    background: #2F2FA2;
    width: 15%;
    overflow-y: auto;
    border: 2px solid #242582
}

/* Chat styles */

.chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-image: url('../assets/chatBack.png');
}

.chat_messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: auto;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message_name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message_time {
    color: #777;
    font-size: 12px;
}
.message_data
{
    font-size: medium;
    background-color: #F64C72;
    width: 40%;
    padding: 0.8%;
    border-radius: 20px;
    animation: message 1.5s;
    transition: 1.5s;
    
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0; 
    margin-top: 16px;
    flex-direction: column;
    padding: 25px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}
@keyframes message
{
    0%{background-color: #2137db;}
    100% {background-color: #F64C72;}
}
